.checkout_content_wrapper .col_right {
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    background-color: #FFFFFF;
    display: inline-block;
    width: 45%;
    min-height: 200px;
    float: right;
    vertical-align: top;
    min-width: 420px;
    border-radius: 0 0 2px 2px;
    border-left: 2px solid #e0b300;
}
.product_data p.cart-detail {
    padding-bottom: 2px;
    margin-bottom: 0;
    line-height: 11px;
    height: auto;
}
.input_row > input.checkbox {
    float: left;
    width: auto;
    margin: 0;
    margin-right: 6px;
}
a.paypal_quick_pay_btn:hover {
    background: rgba(186, 187, 191, 0.05);
    border: 1px solid rgba(186, 187, 191, 0.7);
}

a.paypal_quick_pay_btn {
    border: 1px solid rgba(186, 187, 191, 0.49);
    padding: 12px 16px 12px;
    border-radius: 4px;
    background: rgba(186, 187, 191, 0.13);
    -webkit-transition: all 170ms ease-out;
    -moz-transition: all 170ms ease-out;
    transition: all 170ms ease-out;
    display: inline-block;
}
.checkout_content_wrapper {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
    padding-top: 0;
}

svg.credit_card_options > g {
    opacity: .25;
}

.input_row .width_25:last-child {
    margin-right: 0;
    float: right;
}

.order_checkout_form_wrapper select.agd_select {
    border: 1px solid #eaeaea;
    border-bottom-color: #e5e5e5;
    border-top-color: #f0f0f0;
    border-radius: 2px;
    background-position: 94% 14px;
    background-color: #fafafa;
    padding: 10px 16px 7px;
    color: #110c0e;
}

svg.credit_card_options > g.active_cc_icon {
    opacity: 1;
}

.width_35.expiration_date_input_row > input {
    width: 45%;
    float: left;
    text-align: center;
}

.width_35.expiration_date_input_row {
    position: relative;
}

.width_35.expiration_date_input_row span {
    position: absolute;
    left: 50%;
    bottom: 0px;
    top: 1px;
    font-size: 26px;
    width: 24px;
    color: #8b8b8b;
    margin-left: -12px;
    padding-left: 6px;
    padding-top: 9px;
    font-weight: 100;
    border-left: 0;
    border-right: 0;
}

.width_35.expiration_date_input_row > input:first-child {
}

.width_35.expiration_date_input_row > input:last-child {
    float: right;
}

.col_left {
    background-color: transparent;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    min-height: 120vh;
    float: left;
    margin-left: 24px;
    padding-bottom: 33px;
}

.input_row .width_25 {
    width: calc(25% - 9px);
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.input_row .width_75 {
    width: 75%;
    display: inline-block;
    float: left;
    padding-left: 10px;
}

.input_row .width_50 {
    display: inline-block;
    width: 49%;
    width: 
    
    
    
    
    
    
    
    
    
    -webkit-calc(50% - 6px);
    width: 
    
    
    
    -moz-calc(50% - 6px);
    float: left;
    width: calc(50% - 6px);
}

.input_row .width_50:last-child {
    float: right;
}

.input_row .width_65 {
    width: 65%;
    display: inline-block;
    float: left;
}

.input_row .width_35 {
    width: 35%;
    display: inline-block;
    float: left;
}

.input_row .width_35 svg {
    margin-top: 12px;
    margin-left: 12px;
}

body input.checkout_submit_btn {
    background-color: #e0b300;
    height: 50px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: fashion;
    color: #110c0e;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 38px;
    letter-spacing: .25px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
}

.ccv_help_box {
    position: absolute;
    margin-top: 7px;
    background: #ffffff;
    width: 252px;
    top: 62%;
    right: -27px;
    display: none;
    z-index: 100;
    border-radius: 1px;
    border: 1px solid #c2c2c2;
}

.ccv_help_box:after, .ccv_help_box:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-bottom-color: #c2c2c2;
    position: absolute;
    border-width: 10px;
    pointer-events: none;
}

.ccv_help_box p{
        color: #000;
        line-height: 15px;
        font-size: 10.5px;
        text-align: center;
        font-weight: 100;
        padding: 16px 16px 12px;
        letter-spacing: .2px;
        text-rendering: optimizelegibility;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 100;
        -webkit-font-smoothing: antialiased;
        letter-spacing: .5px;
}

.ccv_help_box:before {
    border-color: rgba(245, 245, 245, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: 1px;
    z-index: 2;
}

.ccv_help_box span.ccv_tip_icons {
    width: 90%;
    height: 24px;
    margin-bottom: 20px;
    display: block;
    margin-left: 15px;
}

.ccv_help_box span.ccv_tip_icons svg {
    height: 30px;
    margin: 0 auto;
    display: block;
}

input.security_code {
    margin: 0 15px 0 10px;
    width: 
    -moz-calc(100% - 58px)!important;
    width: 
    
    
    
    
    
    
    -webkit-calc(100% - 58px)!important;
    width: calc(100% - 58px)!important;
}

.checkout_content_wrapper:after {
    content: '';
    clear: both;
    display: table;
}

.checkout_content_wrapper:before {
    content: '';
    clear: both;
}


body input.checkout_submit_btn:hover, body input.checkout_submit_btn:focus {
    background-color: #f1c30d;
    border-top-color: rgba(132, 132, 132, 0.08);
}

.order_checkout_form_wrapper .input_row {
    width: 100%;
    position: relative;
    float: left;
    display: block;
    margin-bottom: 16px;
}


ul.products_order_summary:after {clear: both;content: '';display: table;}

body input.checkout_submit_btn:active {
    background-color: #e4b910;
    border-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 19px 3px #deb410 inset,0px -2px 11px 0px rgba(255, 255, 255, 0.3) inset;
    color: rgba(255, 255, 255, 0.9);
}

.checkout_content_wrapper h1 {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid #babbbf;
    padding-top: 9px;
    font-family: beausite;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .25px;
}

.order_summary h1 {
    color: #babbbf;
    margin-top: 18px;
    padding-bottom: 12px;
}

.checkout_content_wrapper .col_right h1 {
    border-bottom-color: transparent;
    float: left;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.order_checkout_form_wrapper input {
    width: 100%;
    padding: 10px 16px 7px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #eaeaea;
    -webkit-appearance: initial!important;
    border-bottom-color: #f0f0f0;
    border-top-color: #e5e5e5;
    border-radius: 2px;
    background: #f3f3f3;
    outline: 0;
    -webkit-transition: all 170ms ease-out;
    -moz-transition: all 170ms ease-out;
    transition: all 170ms ease-out;
}

.order_checkout_form_wrapper input:hover, .order_checkout_form_wrapper input:active, .order_checkout_form_wrapper input:focus {
    background-color: #ffffff;
}

.show_ccv_help {
    border-radius: 40px;
    width: 26px;
    height: 26px;
    display: inline-block;
    padding-left: 2px;
    text-align: Center;
    padding-top: 1px;
    font-weight: 100;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    color: #8b8b8b;
}

.show_ccv_help:hover + .ccv_help_box {
    display: block;
}

.order_checkout_form_wrapper {
    padding: 18px 36px 24px;
}

ul.products_order_summary li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    height: auto;
}

ul.products_order_summary li a.remove_product {
    height: 21px;
    width: 21px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}
.cart_content_wrapper > div.order_summary > div.show_690 {
    display: none;
    text-transform: uppercase;
    margin-top: -37px;
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 21px;
}
ul.products_order_summary li a.remove_product:hover svg path {
    fill: #110c0e;
    stroke: #110c0e;
}
ul.products_order_summary li a.remove_product svg path {
    fill: #8e8e8e;
    stroke-width: 1px;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    stroke: #8e8e8e;
}

ul.products_order_summary li a.remove_product svg {
    height: 100%;
    width: 100%;
}

ul.products_order_summary li:last-child {
    border-bottom-color: #cbcbcb;
}

ul.products_order_summary li .product_image {
    display: inline-block;
    margin-left: 48px;
    width: 72px;
    height: 72px;
    margin-top: 33px;
    float: left;
    background-color: #e5e5e5;
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

ul.products_order_summary li .product_image img {
    width:72px;
    height:72px;
}
.order_summary_data > div {
    position: relative;
    height: 44px;
}

.order_summary_data {
    padding-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .6px;
}

.final_data {
    padding-top: 12px;
    line-height: 50px;
    border-top: 1px solid rgba(174, 174, 177, 0.83);
    font-size: 19px;
    font-weight: 600;
}

.product_data {
    padding: 30px 0 22px 132px;
}

.product_data h6 {
    font-size: 26px;
    font-weight: 400;
    font-family: genath;
    width: 100%;
    letter-spacing: .2px;
    display: block;
}

.product_data p.price {
    font-size: 12px;
    letter-spacing: .2px;
    width: 100%;
    color: #110c0e;
    display: block;
    font-weight: 100;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 0;
}

.product_data p {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    margin-right: 12px;
    padding-top: 8px;
    display: inline-block;
    padding-bottom: 11px;
}

.product_data p label {
    color: #c3c3c3;
    padding-right: 4px;
}

@media screen and (max-width: 960px){
    .checkout_content_wrapper .col_left{
        width:100%;
        margin-left:0;
        min-height: 0!important;
        margin-bottom: 0;
    }
    ul.products_order_summary li{
    width: 49%;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #e5e5e5!important;
}
    ul.products_order_summary li:nth-of-type(even){
        float: right;
    }
    .checkout_content_wrapper .col_right{
        width: 100%;
        float: none;
        margin-bottom: 48px;
        min-width: 370px;
    }
    .order_summary_data{}
    .order_summary h1{
    font-size: 24px;
    border-bottom: 1px solid #a5a5a5!important;
    text-align: left;
}
    .product_data{
    padding: 14px 0 9px 112px;
}
    .product_data h6{
        font-size: 16px;
        line-height: 19px;
    }
    .product_data p.price{
    font-size: 14px;
    padding-top: 2px;
}
    .product_data p{
        padding-top: 0;
    }
    ul.products_order_summary li .product_image{
    width: 48px;
    margin-top: 19px;
    height: 48px;
}
}

@media screen and (max-width:740px){
    ul.products_order_summary li{
        width:100%;
    }
}

@media screen and (max-width:690px){
    .cart_content_wrapper > div.order_summary > div.show_690{
        display:block!important;
    }
}

@media screen and (max-width:590px){
    .checkout_content_wrapper .order_summary_data > div{
    height: 44px;
}
    .order_summary_data > div{
    height: auto;
}
    .order_summary_data > div.tax_data,.order_summary_data > div.discount_data{
        height:44px;
    }
    .order_summary_data > div.discount_data .right , .order_summary_data > div.discount_data .left,.order_summary_data > div.tax_data .left, .order_summary_data > div.tax_data .right{
    position: absolute;
}
    .right_column.order_summary_data .final_data .left{
    margin-bottom: 0;
    vertical-align: top;
}
    .right_column.order_summary_data .left{
    position: relative;
    display: block;
    margin-bottom: 8px;
}
    .right_column.order_summary_data .right:after{
        clear:both;
        content:'';
        display:table;
    }
    .right_column.order_summary_data .right{
    position: relative;
    margin-bottom:12px;
}
    .right_column.order_summary_data #total-value{
    vertical-align: bottom;
    top: 11px;
}
    .right_column.order_summary_data #subtotal-value,.right_column.order_summary_data #total-value{
    font-weight: 600;
    float: right;
    position: absolute;
    font-size: 17px;
}
    .width_35.expiration_date_input_row span{
        font-size: 14px;
        padding-left: 9px;
    }
    .order_checkout_form_wrapper input{
        font-size: 12.5px;
    }
    .product_data{
    }
    .order_checkout_form_wrapper{
        padding: 10px 20px 24px;
    }
}
select.agd_select {
    border-image: none;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none!important;
    -webkit-border-radius: 1px;
    outline: none;
    background-color: #fafafa;
    padding: 7px 12px;
    font-family: 'Univers', Arial, sans-serif;
    border: 1px solid #e5e5e5;
    border-top-color: #babbbf;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Univers', Arial, sans-serif;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    padding-right: 35px;
    color: #110c0e;
    background-size: 14px;
    background-position: 95% 12px;
    background-image: url(../assets/img/dark_down_arrow.png);
}

input.summary_data_text_input {
    padding: 7px 12px;
    border-image: none;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none!important;
    -webkit-border-radius: 1px;
    outline: none;
    background-color: #fafafa;
    padding: 7px 12px;
    font-family: ProximaNova;
    border: 1px solid #e5e5e5;
    border-top-color: #babbbf;
    font-weight: 400;
    display: inline-block;
    width: calc(100% - 97px);
    float: left;
    border-radius: 3px;
    font-family: fashion;
    background-repeat: no-repeat;
    padding-bottom: 4px;
}

input.coupon_update_btn {
    width: 85px;
    float: right;
    display: inline-block;
    font-size: 12px;
    text-transform: cp;
    letter-spacing: .25px;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    outline: 0;
    border-radius: 2px;
    padding: 8px 12px 4px;
    background: -webkit-linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    box-shadow: 0 1px 0 0 rgba(195, 195, 195, 0.46),1px 0px 0 0 rgba(195, 195, 195, 0.3),-1px 0px 0 0 rgba(195, 195, 195, 0.3),0px -1px 0 0 rgba(206, 205, 205, 0.29);
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.65) 0,rgba(255, 255, 255, 0.47) 100%);
    color: #100c0e;
    font-size: 12.5px;
    text-align: center;
    border-radius: 3px;
}
a.primary_checkout_proceed_btn:hover {
    background: #d0a600;
}
p.checkout_tip {
    vertical-align: top;
    display: inline-block;
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: genath;
    color: #8b8b8b;
    letter-spacing: .65px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}


.order_summary_data .agd_select {
    margin-top: -4px;
}

a.float_right {
    display: inline-block;
    float: right;
}

a.float_right.checkout_login_prompt {
    background: 
    
    -webkit-linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    box-shadow: 0 1px 0 0 rgba(195, 195, 195, 0.46),1px 0px 0 0 rgba(195, 195, 195, 0.3),-1px 0px 0 0 rgba(195, 195, 195, 0.3),0px -1px 0 0 rgba(220, 220, 220, 0.29);
    background: linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    color: #babbbf;
    padding: 4px 12px 2px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    margin-top: -4px;
}