@font-face {
    font-family: 'Knockout48';
    src: url('../assets/fonts/Knockout48.eot');
    src: url('../assets/fonts/Knockout48.eot') format('embedded-opentype'),
         url('../assets/fonts/Knockout48.woff2') format('woff2'),
         url('../assets/fonts/Knockout48.woff') format('woff'),
         url('../assets/fonts/Knockout48.ttf') format('truetype'),
         url('../assets/fonts/Knockout48.svg#Knockout48') format('svg');
}

@font-face {
    font-family: 'Knockout28';
    src: url('../assets/fonts/Knockout28.eot');
    src: url('../assets/fonts/Knockout28.eot') format('embedded-opentype'),
         url('../assets/fonts/Knockout28.woff2') format('woff2'),
         url('../assets/fonts/Knockout28.woff') format('woff'),
         url('../assets/fonts/Knockout28.ttf') format('truetype'),
         url('../assets/fonts/Knockout28.svg#Knockout28') format('svg');
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */
main, .timeout {
    background-image: url('../assets/img/nielsen_head.png');
    background-size: 900px;
    background-position: center 1500px;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-position 2s;
}

header {
  z-index: 10;
}

main.trivia_page {
    background-image: url(../assets/img/trivia_img.png);
    background-size: cover;
    background-position: 0;
    background-color: #07439b66;
    background-blend-mode: multiply;
}

main.global_page {
  background-image: url(../assets/img/global_1.png);
  background-size: cover;
  background-position: 0;
}

main.contact_page {
  background-image: url(../assets/img/contact_hero.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: background-color 2s;
}

main.festival_page {
  background-image: url(../assets/img/festival_hero.png);
  background-size: cover;
  background-position: center;
}

main.connect_page {
  background: white;
  overflow: hidden;
}

.white {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 100;
}

.white_popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white_popup h1, .white_popup p {
  color: #02abed;
  text-align: center;
  height: auto;
  margin: 0;
}

main h1 {
  display: none;
  font-size: 100px;
  color: #00a9ea;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

h1, h2, .button, .alert strong {
  font-family: 'Knockout48';
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: white;
}

h1, .alert strong {
  width: 60%;
  margin: auto;
  text-align: left;
  font-size: 131px;
}

.alert strong {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.notification .logo_full {
  bottom: 150px;
}

h2 {
  font-size: 75px;
  color: #08439C;
}

p {
  font-size: 37px;
}

.click_action {
  transition: all .2s;
}

.home_link {
  position: absolute;
  top: 60px;
  left: 65px;
}

.banner {
  position: fixed;
  right: 115px;
  height: 137px;
  top: 0;
}

.nielsen_text {
  position: absolute;
  font-family: fantasy;
  font-size: 40px;
  color: #00abec;
  font-family: 'Knockout28', 'Arial', 'sans-serif';
  line-height: 1.1;
  right: 242px;
  top: -2px;
}

.button {
  font-size: 60px;
  padding: 30px 80px;
  background: rgb(0, 171, 236);
  text-decoration: none;
  display: block;
  width: 150px;
  margin: 60px auto;
  text-align: center;
}

.button img {
  width: 112px;
}

#in_page_alert_wrapper_nofitication {
    position: absolute;
    background: #00abec;
    width: 100%;
    padding: 20px 0;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    height: 100%;
    z-index: 5;
}

#in_page_alert_wrapper_nofitication h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


/**/


/*=======================  TIMEOUT   ======================*/
p.taphere {
      color: #02abed;
      font-family: 'Knockout48';
      font-size: 123px !important;
      margin-top: 374px;
      margin-bottom: 50px;
      text-align: center;
    -webkit-animation: taphere 4s infinite ease-in-out;
    
  }

  @-webkit-keyframes taphere {
    30%, 60%  { transform:  scale(1); }
      
    40% { transform:  scale(.8); }
  }

  .header {
    background-color: #02abed;
      padding: 43px 0;
  }

  .timeout img.move {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    -webkit-animation: img 4s infinite ease-in-out;
    
  }

  @-webkit-keyframes img {
    10%, 60%  { margin-top: 0; }
      
    40% { margin-top: -120px; }
  }


  .timeout {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 20000;
    background-position: center 1180px;
    background-color: white;
  }

  .timeout2 {
    z-index: 20001;
    background: white;
  }

  .timeout2 .taphere {
    position: absolute;
    top: -300px;
    width: 100%;
  }


  .timeout2 img.move {
    position: absolute;
    top: 282px;
    width: 9%;
  }

  .header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 59px;
    color: white;
  }

  .header p {
    text-align: center;
    font-size: 29px;
    color: white;
  }



/*  =============  HOME PAGE  ==================  */
.home {
  opacity: 0;
  transition: padding-top .5s, opacity .5s;
}

.logo {
  height: 157px;
  position: absolute;
  right: 140px;
}

.title_holder {
  padding-top: 250px;
  text-align: center;
}

.home_page {
  padding-top: 165px;
}

.home_page.title_holder h1, .home_page.title_holder p, .contact .title_holder h1, .contact .title_holder p {
  text-align: center;
}

.home_page.title_holder p, .contact .title_holder p {
  line-height: 1.6;
  font-size: 39px;
  margin-top: 24px;
}

.home_page .button, .contact .button {
  width: 276px;
  font-size: 39px;
  background-color: #7bb850;
  padding: 21px 53px;
}

.title_holder p {
  width: 60%;
  color: white;
  margin: auto;
  text-align: left;
  margin-top: 36px;
} 

.choices {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 557px;
  transition: margin-top 2s;
}

.title_holder p:nth-child(3){
  margin-top: 88px;
  text-align: center;
  font-weight: lighter;
  opacity: .8;
}

.choice {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: rgb(0, 171, 236);
  width: 58%;
  margin-bottom: 3%;
  padding: 5px 40px;
  height: 125px;
  justify-content: flex-start;
  transition: all .2s;
}

.choice:nth-child(even) {
    margin-right: 0px;
}

.choice:nth-child(1) {
  -webkit-animation: bounce_one 6s infinite ease-in-out;
}

.choice:nth-child(2) {
  background-color: #3280b9;
  -webkit-animation: bounce_two 6s infinite ease-in-out;
}

.choice:nth-child(3) {
  background-color: #4756a5;
  -webkit-animation: bounce_three 6s infinite ease-in-out;
}

.choice:nth-child(4) {
  background-color: #7a54b5;
  -webkit-animation: bounce_four 6s infinite ease-in-out;
}

.choice:nth-child(5) {
  background-color: #4f3a71;
  -webkit-animation: bounce_five 6s infinite ease-in-out;
  
}

@-webkit-keyframes bounce_one {
  30%, 50%  { -webkit-transform: translateY(0); }
    
  40% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_two {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_three {
  50%, 70%  { -webkit-transform: translateY(0); }
    
  60% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_four {
  60%, 80%  { -webkit-transform: translateY(0); }
    
  70% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_five {
  70%, 90%  { -webkit-transform: translateY(0); }
    
  80% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_six {
  80%, 100%  { -webkit-transform: translateY(0); }
    
  90% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_seven {
  90%, 110%  { -webkit-transform: translateY(0); }
    
  100% { -webkit-transform: translateY(-10px); }
}


.choice h2 {
    font-size: 45px;
    margin-left: 60px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Knockout28', 'Arial', 'sans-serif';
}

.choice img {
    width: 70px;
}

.logo_full {
  width: 333px;
  position: absolute;
  left: 50%;
  bottom: 115px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/**/



/*  =============  TRIVIA PAGE  ==================  */
.trivia_content {
  display: none;
  transition: all .5s;
  padding-top: 200px;
}

.trivia .title_holder p, .trivia .title_holder h1 {
  text-align: center;
}

.title_holder h1 {
  background: transparent;
  position: relative;
  color: white;
}

.question { 
  padding: 50px 80px;
  background: rgba(255, 255, 255, .90);
  margin: auto;
  width: 65%;
  margin-top: 63px;
  margin-bottom: 68px;
  text-align: center;
}

.question p {
  font-size: 30px;
}

.answer, .answer_outcome {
  padding: 20px 80px;
  width: 65%;
  margin: auto;
  background: rgba(255, 255, 255, .90);
  margin-bottom: 30px;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
}

.answer h2, .answer p, .answer_outcome h2, .answer_outcome p {
  display: inline-block;
  margin: 0;
}

.answer p, .answer_outcome p {
  margin-left: 25px;
  /*max-width: 461px;*/
  margin-top: 30px;
}


.answer, .answer_outcome {
  display: flex;
  align-items: flex-start;
}

.submit {
  position: relative;
  left: 732px;
  top: 45px;
  display: none;
}

.back_home, .back_sports {
  position: absolute;
  background: transparent;
  margin: 0;
  transition: all .5s;
  top: 8px;
  left: -42px;
}

.back_home img, .back_sports img {
  transition: all .5s;
  margin-top: -42px;
}

.right_answer {
  width: 99%;
  font-size: 60px;
  text-align: center;
  color: white;
}

.question_holder {
  display: none;
  transition: margin-top 1s;
  margin-top: 200px;
}

.title_holder + .question_holder{
  display: block;
  margin-top: 0px;
}

.correct_info p {
  font-size: 30px;
}

.trivia_completion {
  display: none;
  padding-top: 200px;
  transition: padding-top .5s;
}

.answer img, .answer_outcome img {
  width: auto;
  height: 247px;
  position: absolute;
  right: 107px;
}

.trivia .title_holder {
  padding-top: 184px;
}

/*question1 */




.trivia_content .question_holder .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.correct {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: rgb(141, 198, 63);
}

.wrong {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: #dd0014;
}

.source {
  width: 90%;
  color: white;
  font-size: 26px;
  position: absolute;
  bottom: 100px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: .6;
}

/**/



/*  =============  CONTACT PAGE  ==================  */
.contact_form form {
  width: 80%;
  margin: auto;
}

.contact_form {
  margin-top: 93px;
  display: none;
  padding-top: 100px;
  transition: padding-top .5s;
}

.contact {
  display: none;
  padding-top: 100px;
  transition: padding-top .5s;
}

.contact_form input {
  width: 81%;
  padding: 50px 80px;
  font-size: 40px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, .80);
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  transition: all .3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
  border: 1px solid #00abec;
}

.contact_form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(8, 67, 156, 0.65);
}
.contact_form input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(8, 67, 156, 0.65);
}
.contact_form input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(8, 67, 156, 0.65);
}
.contact_form input:-moz-placeholder { /* Firefox 18- */
  color: rgba(8, 67, 156, 0.65);
}

.contact_form input:focus {
  background-color: white;
  color: rgba(8, 67, 156, 1)
}

.contact_form input.button {
  font-family: 'Knockout48';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  padding: 30px 80px;
  background: rgb(0, 171, 236);
  text-decoration: none;
  display: block;
  width: 250px;
  margin: 60px auto;
  text-align: center;
  position: relative;
  left: 300px;
}

.contact_holder {
  display: none;
  padding-top: 500px;
  transition: padding-top 2s;
}

p.error {
  display: none;
  position: absolute;
  margin-top: 101px;
  margin-left: 55px;
  color: white;
}

.small {
  color: white;
  padding: 0 100px;
  opacity: .5;
  font-size: 22px;
  position: absolute;
  bottom: 100px;
}

/**/


/*  =============  360 VIEW PAGE  ==================  */
.stadium {
    padding-top: 350px;
} 

.panoramic .stadium h1 {
  text-align: center;
}

.panoramic .stadium p {
  text-align: center;
  line-height: 1.6;
  font-size: 39px;
  margin-top: 24px;
  width: 75%;
}

.panoramic {
  background-image: url('../assets/img/panoramic.jpg');
  background-position: center;
  background-size: 300%;
  transition: background-size 2s ease-in-out, background-position 2s ease-in-out;
-moz-transition: background-size 2s ease-in-out, background-position 2s ease-in-out;
-ms-transition: background-size 2s ease-in-out, background-position 2s ease-in-out;
-o-transition: background-size 2s ease-in-out, background-position 2s ease-in-out;
-webkit-transition: background-size 2s ease-in-out, background-position 2s ease-in-out;
}

.panoramic_holder {
  display: none;
  padding-top: 200px;
}

.rugby, .soccer {
  display: none;
}

.soccer .title_holder {
  padding-top: 550px;
}

.click_points {
  display: none;
}

.panoramic .title_holder .button {
  width: 35%;
  font-size: 46px;
  padding: 23px 80px;
  position: relative;
  right: 52px;
  background-color: #00abec;
}

/*.img_square {
  position: absolute;
  height: 123px;
  background: rgba(255, 255, 255, 0.80);
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_square img {
  max-height: 69px;
  max-width: 69px
}*/

.locator_box {
  position: absolute;
}

.locator {
  border-radius: 100%;
  background-color: #00abec;
  height: 15px;
  width: 15px;
  transition: all 5s;
}

.blue_text {
  color: #00abec;
  font-weight: 600;
}

#interview {
  padding-top: 41px;
  padding-bottom: 50px;
  left: 59px;
  top: 865px;
  padding-right: 0px;
  padding-left: 140px;
}

#audience1 {
  right: 244px;
  top: 891px;
  /*top: 983px;*/
  padding: 100px
}

#audience2 {
  padding: 100px;
  right: 88px;
  top: 490px;
}

#ref {
  bottom: 348px;
  left: 41px;
  padding-right: 75px;
  padding-bottom: 55px;
}

#jersey {
  bottom: 285px;
  left: 326px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#adds {
  padding-left: 86px;
  padding-top: 0px;
  bottom: 324px;
  right: 83px;
  padding-bottom: 137px;
}

#soccer_jersey {
  right: 288px;
  bottom: 513px;
  padding-left: 77px;
  padding-bottom: 20px;
}

#soccer_bench {
  right: 22px;
  bottom: 781px;
  padding: 0 69px;
  padding-left: 0px;
  padding-bottom: 66px;
}

#audience3 {
  left: 72px;
  bottom: 836px;
}

#audience4 {
  right: 47px;
  top: 516px;
}

#soccer_banner {
  left: 218px;
  bottom: 626px;
  padding-left: 134px;
  padding-bottom: 61px;
}

#scoreboard {
  top: 130px;
  left: 279px;
  padding-right: 184px;
  padding-bottom: 66px;
}

.soccer .back_sports img{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 100px 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.overlay h2, .overlay p {
  padding: 0 100px
}

.overlay p {
  line-height: 1.7;
}

.x_box {
  display: inline-block;
  background: #00abec;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  left: 955px;
  bottom: 18px;
}

.locator_box img {
  width: 118px;
  max-height: 97px;
  padding: 32px 29px;
  -webkit-animation: bounce 6s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

.no_click {
  pointer-events: none;
}

/*================  INFO section  ===================*/
a.info_home {
  color: rgb(189,189,189);
  position: fixed;
}

#scroll {
  transform: rotate(-90deg);
  width: 112px;
  position: absolute;
  bottom: 87px;
  right: 50px;
  opacity: .7;
}

.future_of_sport {
  display: none;
}

.info {
  padding: 300px 50px;
  padding-bottom: 0px;
}

.info h1 {
  color: #6a6a6a;
  font-size: 100px;
  padding: 0;
  width: 100%;
  font-weight: 100;
  /*letter-spacing: 1.4px;*/
}

.info h2 {
  color: #000000;
  font-size: 69px;
  font-family: 'Knockout28';
  margin-bottom: 65px;
  font-weight: 100;
  /*letter-spacing: 1.4px;*/
}

.info p {
  color: #6a6a6a;
  line-height: 1.8;
  font-weight: lighter;
  font-size: 25px;
}

.image_section { 
  margin-top: 150px; 
  margin-bottom: 150px;
  text-align: center;
}

.image_section img {
  max-width: 86%;
  margin-bottom: 0px;
}

.icon_section { 
  text-align: center;
  background-color: #000000;
  padding: 150px 50px;
}

.icon_section h2, .icon_section h3 {
  color: white;
  font-family: 'Knockout28';
  font-weight: 100;
}

.icon_section h2 {
  font-size: 69px;
}

.icon_circle {
  border-radius: 100%;
  border: 2px solid #00abec;
  height: 185px;
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_holder {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon_circle img {
  width: 151px;
}

.icon {
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon h3 {
  font-size: 43px;
  font-family: 'Knockout28';
  font-weight: 100;
  margin-top: 33px;
}

h4 {
  font-size: 40px;
  font-family: 'Knockout28';
  font-weight: 100;
  margin-top: 33px;
  color: #6a6a6a;
}

.methodology_section {
  background-color: #199ed6;
  padding: 150px 50px;
  text-align: center;
}

.methodology_section h2 {
  color: white;
  font-family: 'Knockout28';
  font-weight: 100;
  font-size: 69px;
}

.methodology_holder {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}

.method {
  background: white;
  width: 30%;
  padding: 10px;
  text-align: left;
}

.method h4 {
  margin-bottom: 25px;
}

.method ul { 
  padding-left: 24px;
}

.method li {
  color: #6a6a6a;
  font-weight: lighter;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  margin-bottom: 0px;
}

.power {
  padding: 150px 50px;
  padding-bottom: 0px;
}

.power h2 {
  font-family: 'Knockout28';
  font-weight: 100;
  color: #000000;
  font-size: 69px;
}

.power h5 {
  font-size: 25px;
  margin-bottom: 10px;
}

.power p {
  margin-top: 0px;
  font-weight: lighter;
  font-size: 22px;
  width: 42%;
}

.power img {
  bottom: 280px;
  position: relative;
  left: 421px;
}

.footer {
  padding: 50px;
  background-color: #dbedf4;
  margin-top: -100px;
  font-size: 20px;
  text-align: center;
}

.footer .button {
  font-size: 42px;
  padding: 19px 63px;
  margin-bottom: 0px;
  margin-top: 33px;
}




/*===================  GLOBAL PAGE  =====================*/
.global_page {
  display: flex;
  justify-content: center;
}

.global_page p.opening {
  position: absolute;
  width: 604px;
  text-align: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 596px;
  font-size: 42px;
  line-height: 1.5;
}

.global_page .nielsen_text, .global_page .banner {
  display: none;
}

.globe {
  display: none;
  height: 350px;
  position: absolute;
  top: 500px;
  margin-top: 500px;
  transition: margin-top 2s;
  -webkit-animation: bounce_globe 3s infinite ease-in-out;
}

@-webkit-keyframes bounce_globe {
  20%, 60%  { -webkit-transform: translateY(0); }
    
  40% { -webkit-transform: translateY(-40px); }
}

.step2 {
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.content h1, .connect_page h1 {
  background: transparent;
  height: auto;
  width: 100%;
  margin-top: 260px;
  position: relative;
  font-size: 80px;
}


.smallhead {
  text-align: center;
  font-weight: bold;
  color: #311466;
  margin-top: 150px;
  margin-bottom: 10px;
}

.map {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.map_holder {
  height: 655px;
  margin-bottom: 50px;
}

.map_holder2, .map_holder3 {
  display: none;
}

.map_holder3 {
  flex-direction: column;
  align-items: center;
  background: #ffffffe3;
  position: relative;
  top: -856px;
  height: 900px;
}

.map_holder3 img {
  transition: transform 2s;
}

.beyond {
  display: block;
  position: absolute;
  margin-top: 280px;
}

.map_holder img {
  position: absolute;
  display: none;
}

.more_info {
  position: absolute;
  right: 62px;
  padding: 9px 31px;
  color: white;
  background: #d0d0d0;
  margin-top: -94px;
  font-weight: bold;
}

.more_info p {
  margin: 0;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #00abece0;
  background-blend-mode: multiply;
  color: white;
}

.popup li {
  font-style: normal;
  font-size: 38px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.popup li img {
  max-width: 77px;
  margin-right: 39px;
}

.popup p {
  font-size: 44px;
}

.popup .close {
  padding: 50px;
  position: absolute;
  top: 100px;
  font-size: 65px;
  text-align: center;
}

.popup .close img {
  width: 117px;
  -webkit-animation: slide 6s infinite ease-in-out;
}

@-webkit-keyframes slide {
  30%, 60%  { transform:  translateX(0); }
    
  40% { transform:  translateX(20px);  }
}


/* ================  FESTIVAL PAGE  =================*/
.festival_page .float_choices img {
  max-width: 80px;
  max-height: 80px;
  position: absolute;
  display: none;
  margin-top: 500px;
  transition: margin 2s;
}

.festival_page .float_choices img:nth-child(1) {
  top: 400px;
  left: 150px;
  -webkit-animation: bounce_one 6s infinite ease-in-out;
}

.festival_page .float_choices img:nth-child(3) {
  top: 650px;
  left: 350px;
  -webkit-animation: bounce_two 6s infinite ease-in-out;
}

.festival_page .float_choices img:nth-child(5) {
  top: 703px;
  right: 200px;
  -webkit-animation: bounce_three 6s infinite ease-in-out;
}


.festival_page .float_choices img:nth-child(7) {
   top: 439px;
  left: 668px;
  -webkit-animation: bounce_four 6s infinite ease-in-out;
}

.festival_page .float_choices img:nth-child(9) {
  top: 250px;
  right: 200px;
  -webkit-animation: bounce_five 6s infinite ease-in-out;
}

.festival_page .float_choices img:nth-child(11) {
  top: 200px;
  left: 250px;
  -webkit-animation: bounce_six 6s infinite ease-in-out;
}

.festival_page .float_choices img:nth-child(13) {
  top: 333px;
  left: 449px;
  -webkit-animation: bounce_seven 6s infinite ease-in-out;
}


.festival_page .popup {
  flex-direction: column;
}

.festival_page .popup ul li {
  list-style: all;
  display: list-item;
  position: relative;
  padding-left: 45px;
}

.festival_page .popup ul li:before {
  content: '-';
  position: absolute;
  color: white;
  left: 0;
}

.festival_page .popup img {
  display: inline;
  margin-top: 0px;
  position: relative;
  margin-bottom: 70px;
  max-width: 150px;
  max-height: 150px;
  filter: brightness(0) invert(1);
}

.festival_page .popup p, .festival_page .popup ul {
    padding: 0 150px;
    min-width: 776px;
}

.float_choices .popup p span {
    font-family: 'Knockout48';
    font-style: normal;
    font-weight: 400;
    font-size: 73px;
}

.festival_page h2 {
  display: none;
  position: absolute;
  bottom: 196px;
  text-align: center;
  width: 100%;
  color: white;
  background: #00abecc4;
  padding: 34px 0;
}



/*  =============  MUSIC CONNECT PAGE  ==================  */
.connect_page .connect1 {
  text-align: center;
  margin-bottom: 100px;
}

.connect_page .connect1 p {
  color: #555c61;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.connect_page .connect1 h2 {
  color: #555c61;
  font-size: 54px;
  display: inline-block;
  margin: 50px;
  margin-top: 10px;
  position: relative;
}

.connect_page .connect1 h2:after {
  background: #00a9ea;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 30px;
  right: -60px;
}

.connect_page .connect1 h2:last-child:after {
  display: none;
}

.connect_page .laptop {
  display: none;
  margin-left: 50px;
  margin-top: 400px;
  transition: margin 2s;
}

.connect_page .start_btn {
  display: none;
  position: relative;
  width: auto;
  font-size: 39px;
  left: 29%;
  top: -537px;
  border: none;
  -webkit-animation: taphere 4s infinite ease-in-out;
}

@-webkit-keyframes taphere {
  30%, 60%  { transform:  scale(1); }
    
  40% { transform:  scale(.9); }
}

.connect_page .contact_btn {
  display: none;
  position: absolute;
  width: auto;
  font-size: 39px;
  left: 50%;
  transform: translateX(-50%);
  top: 637px;
  border: none;
  -webkit-animation: color_change 6s infinite ease-in-out;
}

.connect_page .vid {
  display: none;
  width: 900px;
  margin: auto;
  box-shadow: 0px 0px 6px #00000026;
  margin-top: 637px;
  transition: margin 1.5s;
}

.connect_page .selector {
  display: none;
  position: absolute;
  border: 5px solid #00abec;
  -webkit-animation: jump 4s infinite ease-in-out;
}

@-webkit-keyframes jump {
  30%, 60%  { transform:  scale(1); }
    
  40% { transform:  scale(.9); }
}
.connect_page .selector1 {
  height: 39px;
  width: 232px;
  border: 5px solid #00abec;
  top: 635px;
  left: 179px;
}

.connect_page .selector2 {
  height: 28px;
  width: 299px;
  border: 5px solid #00abec;
  top: 662px;
  left: 549px;
}

.connect_page .selector3 {
  height: 31px;
  width: 103px;
  border: 5px solid #00abec;
  top: 665px;
  left: 494px;
}

.connect_page .selector4 {
  height: 28px;
  width: 200px;
  border: 5px solid #00abec;
  top: 433px;
  left: 381px;
}

.connect_page .videos {
  display: flex;
  justify-content: center;
}

.connect_page .prompt {
  position: absolute;
  top: 126px;
  display: none;
  font-family: 'Knockout28';
  font-size: 65px;
  text-transform: uppercase;
}

.m_info {
  display: none;
  background: #26abee;
  position: absolute;
  top: 276px;
  right: 59px;
  color: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.connect_page .popup {
  flex-direction: column;
}

.connect_page .popup p {
  padding: 0 150px;
}

.connect_page .popup h1 {
  margin: 0;
  color: white;
}

.move_select {
  left: 37%;
  height: 100px;
  position: relative;
  margin-top: 70px;
  -webkit-animation: moveup 4s infinite ease-in-out;
}

@-webkit-keyframes moveup {
  30%, 60%  { transform:  translateY(0); }
    
  40% { transform:  translateY(-50px); }
}

/* ================  KEYBOARD  =================*/
